apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 5
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: dallasformularacing/actions-test_flask-app:0b502f94f577550cd8364c29aad9f4c16abcb23a
        ports:
        - containerPort: 5000
